%br
.col-md-6
  - @posts.each do |post|
    %h3= post.title
    = post.content
    %br
    %br
.col-md-5.col-md-offset-1
  - @news_items.each do |news_item|
    %h3= news_item.title
    = news_item.content
    %br
    %br