- @news_items.each do |news_item|
  %h3= link_to news_item.title, news_item_path(news_item.id)
  = truncate_html(news_item.content.html_safe, length: 1000, omission: '...' )
= will_paginate @news_items