%br/
.col-md-3.col-md-offset-6
  =link_to 'New Post', new_admin_post_path, class: 'btn btn-primary btn-lg'
%br/
%br/
- @posts.each do |post|
  %h3= post.title
  = post.content.html_safe
  %br/
  %br/
  .col-md-2.col-md-offset-10
    =link_to 'Delete', [:admin, post], method: :delete, class: 'btn btn-primary'
    =link_to 'Edit', [:edit, :admin, post], class: 'btn btn-primary'
  %br/
  %br/
