%br/
.col-md-3.col-md-offset-6
  =link_to 'Add Post', new_admin_post_path, class: 'btn btn-primary btn-lg'
%br/
%br/
- @posts.each do |post|
  %h3= link_to post.title, admin_post_path(post.id)
  = truncate_html(post.content.html_safe, length: 1000, omission: '...' )
  %br/
  %br/
  .col-md-2.col-md-offset-10
    =link_to 'Delete', [:admin, post], method: :delete, class: 'btn btn-primary'
    =link_to 'Edit', [:edit, :admin, post], class: 'btn btn-primary'
  %br/
  %br/
