
%p
=link_to 'New Post', new_admin_post_path, class: 'btn btn-default'

%p
- @posts.each do |post|
  %pre= post.title
  %pre= post.content
  %br/
  =link_to 'Delete', [:admin, post], method: :delete, class: 'btn btn-default'
  =link_to 'Edit', [:edit, :admin, post], class: 'btn btn-default'
  %p

