%h1 Posts
=link_to 'Add New Post', new_admin_post_path

%table
  %tr
    %th Title
    %th Content
  - @posts.each do |post|
    %tr
      %td= post.title
      %td
        %pre= post.content
      %td= link_to 'Edit', [:edit, :admin, post]
      %td= link_to 'DELETE', [:admin, post], method: :delete