%p
  %h2= @post.title 
  %br/
  %h4= @post.content.html_safe 
  %br/
  = link_to 'Back', admin_posts_path, class: 'btn btn-primary btn-xs'
  %br/
  .col-md-2.col-md-offset-10
    =link_to 'Delete', [:admin, @post], method: :delete, class: 'btn btn-primary'
    =link_to 'Edit', [:edit, :admin, @post], class: 'btn btn-primary'
  %p
= render 'comments/comment_form'