%br/
.col-md-3.col-md-offset-6
  =link_to 'Add news', new_admin_news_item_path, class: 'btn btn-primary btn-lg'
%br/
%br/

%p
- @news_items.each do |news_item|
  %h3= news_item.title
  = news_item.content.html_safe
  %br/
  .col-md-2.col-md-offset-10
    =link_to 'Delete', [:admin, news_item], method: :delete, class: 'btn btn-primary'
    =link_to 'Edit', [:edit, :admin, news_item], class: 'btn btn-primary'
  %p

