- @posts.each do |post|
  %h3= link_to "#{post.title}", post_path(post.id)
  = truncate_html(post.content.html_safe, length: 1000, omission: '...' )
%br/
%br/
.digg_pagination
  = will_paginate @posts

